<h1>Albums for <%= @band.name %></h1>
<h4><a href="<%= bands_url %>">Back</a></h4>
<hr>
<table>
  <thead>
    <td>Name</td>
    <td>Year</td>
    <td>Type</td>
  </thead>
  <% @albums.each do |album| %>
    <tr>
      <td><a href="<%= album_url(album.id) %>"><%= album.name %></a></td>
      <td><%= album.yr %></td>
      <% if album.live %>
        <td>Live</td>
      <% else %>
        <td>Studio</td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<br>


<a href="<%= edit_band_url(@band.id) %>">Edit Band</a>

<form action="<%= band_url(@band.id) %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Band">
</form>
